@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 1px solid hsla(0, 0%, 78%, 0.753);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


